@import "../../variables.scss";
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  .logo-name {
    a {
      font-size: 24px;
      font-weight: 500;
      text-decoration: none;
      color: black;
      letter-spacing: 1px;
    }
  }
  .header-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    div {
      margin-left: 50px;
      align-self: center;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      color: $lightgray;
      font-size: 16px;
      line-height: 120%;
      text-decoration: none;
      text-transform: none;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
  .mobile-menu-wrapper {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none;
    background: rgba(0, 0, 0, 0.8);
  }
  .mobile-menu-button {
    display: none;
  }
}
@media (max-width: $bp-tablet) {
  .header-content {
    .header-menu {
      display: none;
    }
    .mobile-menu-button {
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
    }
    .menu-button_text {
      font-size: 14px;
      margin-right: 6px;
    }
    .w-icon-nav-menu {
      display: flex;
      align-items: center;
    }
    .mobile-menu-wrapper {
      &.menu-opened {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
      }
      .mobile-menu-container {
        max-width: 340px;
        background: white;
        margin: 0 0 0 auto;
        position: relative;
        padding: 20px 10px 40px 10px;
        height: 100%;
        overflow: hidden;
        .close-menu {
          background: transparent;
          border: none;
          position: absolute;
          top: 24px;
          right: 10px;
          padding: 0;
          cursor: pointer;
          display: flex;
        }
        .mobile-menu {
          margin-top: 30px;
          display: grid;
          grid-gap: 16px;
          div {
            align-self: center;
            transition: 0.3s;
            color: $lightgray;
            font-size: 16px;
            line-height: 110%;
            text-decoration: none;
            text-transform: none;
            cursor: pointer;
            &:hover {
              color: black;
            }
          }
        }
        
      }
    }
  }
}
