@import "../../variables.scss";
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    .logo-name {
        a {
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;
            color: black;
            letter-spacing: 1px;
        }
    }
    .header-menu {
        display: flex;
        align-items: center;
        margin-left: auto;
        a {
            margin-left: 50px;
            align-self: center;
            -webkit-transition: .3s;
            transition: .3s;
            color: $lightgray;
            font-size: 16px;
            line-height: 120%;
            text-decoration: none;
            text-transform: none;
            &:hover {
                color:black
            }
        }
    }
}